body {
    margin: 0;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* background-color: rgb(245, 245, 245); */
}

.cg-navbar {
    background-color: #79B1E4;
    color: #8059D1;
}

.cg-navbar a.navbar-brand {
    color: #8059D1 !important;
}

h1 {
    color: #8059D1;
    font-weight: bolder;
}

.card-header {
    background-color: #79B1E4 !important;
}

a.card-footer {
    text-align: center;
    transition: 0.3s;
}

a.card-footer:hover {
    text-decoration: none;
    background-color: #DDD;
    transition: 0.3s;
}

.footer {
    padding-bottom: 25px;
    color: grey;
}

.footer-left {
    text-align: left;
}

.footer-right {
    text-align: right;
}

.footer p {
    margin: 0px;
}

.test-description {
    color: #666;
}

.btn-primary {
    background-color: #79B1E4 !important;
    border-color: #79B1E4 !important;
    transition: filter 0.3s;
}

.btn-primary:hover {
    filter: brightness(90%);
    transition: filter 0.3s;
}




/* For size-dependent stuff */


/* Extra small devices (phones, less than 768px) */


/* No media query since this is the default in Bootstrap */
.cg-footer {
    text-align: left;
}

.generate-button {
    margin-top: 0.5em;
    width: 100%
}

.generate-message {
    text-align: center;
    margin-top: 0.5em;
    width: 100%;
    overflow: hidden;
}

#download-column.hide {
    max-height: 0px;
    transition: max-height 0.15s ease-in;
    overflow: hidden;
}

#download-column.show {
    max-height: 50px;
    transition: max-height 0.25s ease-in;
    overflow: hidden;
}

#message-column.hide {
    max-height: 0px;
    transition: max-height 0.15s ease-in;
    overflow: hidden;
}

#message-column.show {
    max-height: 50px;
    transition: max-height 0.25s ease-in;
    overflow: hidden;
}

.texContainer {
    background-color: white; 
    background-size: "contain"; 
    padding: 1.5em 0.25em 1.5em 0.25em;
    text-align: center;
    overflow: wrap;
    border-bottom: 0.5px #CCC solid;
}

.katex {
    font-size: 20px !important;
}

/* Small devices (tablets, 768px and up) */

@media (min-width: 576px) {
    .cg-footer {
        text-align: right;
    }
    
    /* .texContainer {
        font-size: 2vw;
    } */
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 768px) {
    .nav-bar-container {
        padding-left: 0em !important;
        padding-right: 0em !important;
    }

    /* .texContainer {
        font-size: 1.5vw;
    } */
}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 992px) {
    .nav-bar-container {
        padding-left: 1em !important;
        padding-right: 1em !important;
    }

    .generate-button {
        margin-top: 0px;
    }

    .generate-message {
        text-align: left;
        margin-top: 0px;
    }

    /* .texContainer {
        font-size: 14px;
    } */
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}